body {
    background-color: beige;
}

.message.sender {
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
}

.message.receiver {
    background-color: goldenrod;
    padding: 10px;
    border-radius: 5px;
}
